:root {
  --main-color: #D1B000;
  --hover-main: #643A07;
  --hover-success: #3aac54;
  --green: #23d64d;
  --hover-error: #b63939;
  --border: #c9c9c9;
  --white: #ffffff;
  --backgroud: #383838;
  --black: #000000;
  --hover-info: #457ef0;
  --header: #256EFF;
  --footer: #d4d4d4;
  --roboto: 'Roboto', sans-serif;
}

.modal {
  justify-content: center;
  align-items: center;
  display: flex;
  width: "auto";
  height: "auto";
  border: "4px solid black";
  border-radius: "20px";
}

/* Propiedades responsivas */
@media screen and (max-width: 768px) {
  .modal {
    max-width: none;
    max-height: none;
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .modal {
    max-width: none;
    max-height: none;
    padding: 10px;
  }
}

.MetodoDePago {
  align-items: center;
  margin-top: 8px !important;
  margin-bottom: 15px !important;
  margin-right: 10px !important;
}

@media (max-width: 768px) {
  .modal-content {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .map-container {
    width: 100%;
    height: 200px;
  }

  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  .table-container {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }

  .total-payment {
    margin-right: 0 !important;
  }
}

.title-direction {
  margin-bottom: 15px;
  margin-top: -10px;
}

.TableContainer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /* Cambiado el ancho máximo del TableContainer */
  max-height: 240px;
  /* Altura máxima del TableContainer */
  overflow-y: auto;
  /* Habilitar scroll vertical si es necesario */
}

@media screen and (max-width: 767px) and (max-width: 1024px) {
  .TableContainer {
    margin-left: auto;
    margin-right: auto;
  }

  .TableContainer th,
  .TableContainer td {
    font-size: small;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

.ResponsiveBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 5%;
  /* Añadido margen superior e inferior */

  & h2 {
    font-weight: bolder;
  }

  & h2:last-child {
    font-weight: bolder;
  }

  @media (max-width: 767px) {
    align-items: center;
    text-align: center;

    & h2 {
      margin-left: 0;
      margin-bottom: 5px;
    }

    & h2:last-child {
      margin-right: 0;
    }
  }
}

.additional-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 5%;
}

/* Propiedades de el método de pago de PayPal*/
.paypal-button {
  display: flex;
  /* Utiliza el modelo de caja flexible */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.main-thanks-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-bottom: -300px;
}

.thanks-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.thanks-title-container {
  width: 100%;
  margin-left: 20px;
  margin-bottom: 200px;
  align-content: center;
  text-align: center;
}