/* Css para estilos de la Navbar */
.navbar{
    background-color: black;
}
/* Botones presentes en la Navbar */
.navbar-button {
    color: white;
    text-decoration: none;
}
.navbar-button:hover {
    color: white    ;
    text-decoration: none;
    border: white solid 2px;
    border-radius: 10px;
}

/* Estilos Fotos de perfil */
.profile-picture{
    border-radius: 50% ;
    max-width: 50px;
    max-height: 50px;
}


/* CSS botón de perfil de la navbar */
.navbar-button-profile{
    display:flex;

    color: white;
    text-decoration: none;
}
.navbar-button-profile:hover {
    color: white    ;
    text-decoration: none;
    border: white solid 2px;
    border-radius: 10px;
}