:root {
    --main-color: #D1B000;
    --hover-main:   #643A07;
    --hover-success: #3aac54;
    --green: #23d64d;
    --hover-error:   #b63939;
    --border: #c9c9c9;
    --white: #ffffff;
    --backgroud: #383838;
    --black: #000000;
    --hover-info: #457ef0;
    --header: #256EFF;
    --footer: #d4d4d4;
    --roboto: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.leaflet-container{
    width: 100% ;
    height: 80%;
  }

html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    padding-bottom: 60px; /* Altura del footer */
  }

a{
    color: var(--backgroud);
}

/* *MasterPage Styles */
.header-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    z-index: 1;
}

.filter-products-container{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.filter-products-container a{
    padding: 8px !important;
}

/* .navbar-shoppingCar{
    display: inline-flex;
    margin: 0;
    padding: 4px 12px 0px;
    cursor: pointer;
    transition: all .2s ease 0s;
    border-radius: 50%;
}

.navbar-shoppingCar:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.badge{
    display: inline-block;
    padding: 0.60em 0;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
} */

.span-icon{
    background-color: var(--hover-error);
    border-radius: 50%;
    color: var(--white);
    padding: 1px 4px;
}

.page-wrapper {
    min-height: 100%;
    position: relative;
    /* padding-bottom: 100px;  */
    box-sizing: border-box;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-weight: lighter; */
    font-size: 12px;
    margin-top: 20px;
}

.footer-socialNetworks, .footer-contactInfo{
    background-color: var(--footer);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-socialNetworks{
    padding: 30px 0px 30px 0px;
}

.footer-socialNetworks a{
    height: 24px;
}

.socialNetworks-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 5px;
    border-radius: 50%;
}

.footer-contactInfo{
    padding-bottom: 30px;
}

.footer-copyright{
    padding: 20px 0px;
}

.phoneNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.redirectToAbout{
    cursor: pointer;
    text-decoration: underline;
}

/* *CategoriesPage Styles */
.grid-container {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-auto-rows: 375px; /* altura de cada grid en 340px */
    gap: 5px;
    width: 100%;
    height: 100%;
}

/* *CategoriesCards Styles */
.container-categoriesCards{
    margin: 0;
    position: relative;
    height: 375px;
    overflow: hidden;
}

.categoriesCards-button{
    width: 100%;
}

.container-figure-img{
    display: block;
    position: relative;
    width: 100%;
    height: 375px;
    overflow: hidden;
}

.categoriesCards-img{
    max-width: 100%;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    box-shadow: none;
    border-top: none;
}

.main-container-categoriesCards-icon{
    transition: transform 0.3s ease;
    background: rgba(0,0,0,.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.main-container-categoriesCards-icon:hover {
    background: rgba(63, 63, 62, 0.3);

}

.info-container-categoriesCards{
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.info-container-categoriesCards:hover {
    transform: translateY(-5px);
}

.container-categoriesCards-icon{
    display: table;
}

.container-categoriesCards-content{
    display: table-cell;
    vertical-align: middle;
    padding: 0 50px;
    text-align: center;
}

.container-figure-icon{
    margin: 0;
}

.categoriesCards-icon{
    transition: transform 0.3s ease;
    height: 94px;
    width: auto;
    max-width: 100%;
}

.categoriesCards-text{
    transition: transform 0.3s ease;
    color: var(--white);
    background: none!important;
    display: inline-block;
    padding: 0;
    margin: 0 0 5px;
    white-space: nowrap;
    position: relative;
    font-size: 22px;
    line-height: 1.25;
    font-weight: 700;
    width: 100%;
}

/* *CategoriesEmpty Styles */

.container-emptyCategories{
    margin: 114px 0px 44px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.emptyCategories-image{
    width: 30%;
}

/* *AboutPage Styles */
.about-container{
    height: 70vh;
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    justify-content: center;
    align-items: center;
}

.about-container-firstSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.firstSection-data-container, .firstSection-img-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.firstSection-data-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10%;
}

.firstSection-img-container{
    width: 50%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.firstSection-img{
    max-width: 100%;
    height: auto;
}

.comunication-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
    width: 100%;
    margin-top: 60px;
}

.whatsapp-container, .instagram-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.instagram-container{
    background: var(--footer);
    border-radius: 50px;
    padding: 5px 5px 0px 5px;
}


/* *ProductsPage Styles */
.grid-container-product {
    margin: 0px 10px;
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-auto-rows: auto;
    gap: 5px;
    width: calc(100% - 20px);
    height: 100%;
    overflow: hidden;
}

@media screen and (min-width: 580px) {
    .grid-container-product { 
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

/* Propiedades responsivas */
@media screen and (min-width: 1024px) {
    .grid-container-product {  
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

/* *ProductsCards Styles */
.container-productsCards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    height: 230px;
    overflow: hidden;
}


.container-figure-img-product{
    align-items: center;
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.container-figure-img-modal{
    align-items: center;
    left: 0;
    display: block;
    position: relative;
    width: 60%;
    height: 390px;
    overflow: hidden;
}

.productsCards-icon-modal{
    margin-top: 5px;
    transition: transform 0.3s ease;
    height: 60px;
    width: auto;
    max-width: 60%;
}

/* *ProductsCards Styles */
.productsCards-img{
    max-width: 100%;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    box-shadow: none;
    border-top: none;
}

.productsCards-img-modal{
    max-width: 100%;
    width: 100%;
    height: 80%; 
    object-fit: cover; 
    box-shadow: none;
    border-top: none;
}

/* *ProductsCards Styles */
.main-container-productsCards-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover; /* Ajusta la imagen al tama침o del contenedor sin deformarla */
}

.main-container-productsCards-img{
    background: rgba(0, 0, 0, 0.87);
    position: relative;
    width: 100%;
    height: 95%;
    object-fit: cover; /* Ajusta la imagen al tama침o del contenedor sin deformarla */
}

/* Propiedades responsivas */
@media screen and (max-width: 400px) {
    .main-container-productsCards-img {
        width: 90%;
        margin: 0 auto;
    }
}

/* *ProductsCards Styles */
.info-container-productsCards{
    transition: transform 0.3s ease;
    display: contents;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* *ProductsCards Styles */
.info-container-productsCards:hover {
    transform: translateY(-5px);
}

.container-productsCards-icon{
    display: table;
}

.container-productsCards-content{
    text-align: center;
}

/* *ProductsCards Styles */
.productsCards-icon{
    margin-top: 1px;
    transition: transform 0.3s ease;
    height: 50px;
    width: auto;
    max-width: 60%;
}

/* *ProductsCards Styles */
.productsCards-text{
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    color: var(--white);
    background: none!important;
    margin: 0 0 5px;
    bottom: 20px;
    white-space: nowrap;
    position: relative;
    font-size: 22px;
    line-height: 1.25;
    font-weight: 700;
    display: inline-block;
    width: 100%;
}

/* Propiedades responsivas */
@media screen and (min-width: 768px) {
    .productsCards-text{
        justify-content: center;
        align-items: center;
        font-size: 22px;
        margin-bottom: 3px;
    }
}

.product-form {
    gap: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 0.2rem 1rem;
}

@media screen and (max-width: 768px) {
    .product-form {
        width: auto;
        height: auto;
        padding: auto;
    }
}
  
@media screen and (max-width: 480px) {
    .product-form {
        width: auto;
        height: auto;
    }
}

.TableContainer{
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    width: 80%;
    border: "1px solid gray";
    margin-left: 10%;
}

@media (max-width: 767px) {
.TableContainer {
    width: 100%;
    margin-left: 0;
}

.TableContainer table {
    width: 100%;
}

.TableContainer th,
.TableContainer td {
    font-size: small;
}
}

.productsDetailCards-text{
    transition: transform 0.3s ease;
    color: var(--black);
    background: none!important;
    padding: 0;
    margin: 4px 0 0 4px;
    white-space: nowrap;
    position: relative;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 400;
    display: inline-block;
    width: 90%;
}

@media (max-width: 750px) {
    .about-container-firstSection{
        flex-direction: column;
    }

    .data-container{
        justify-content: center;
        align-items: center;
    }
    
    .firstSection-img-container{
        display: none;
    }
}

@media (max-width: 600px) {
    .header-navbar {
        padding: 0px 20px 0px 20px;
    }
}

@media (max-width: 410px) {
    .MuiToggleButton-root{
        font-size: 10px !important;
        /* font-weight: lighter !important; */
        padding: 5px !important;
    }

    .emptyCategories-image{
        width: 40%;
    }

    .container-emptyCategories h2{
        font-size: 12px;
    }

    .emptyProducts-image{
        width: 40%;
    }

    .container-emptyProducts h2{
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    .MuiToggleButton-root{
        padding: 2px !important;
    }
}

@media screen and (min-width: 580px) {
    .grid-container {
      grid-template-columns: repeat(2, minmax(200px, 1fr)); /* m치ximo de 2 columnas a partir de 768px */
    }
}

@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(200px, 1fr)); /* m치ximo de 4 columnas a partir de 1024px */
    }
}

  .addProduct-modal-button:hover{
    background-color: var(--hover-success) !important;
  }


/* *ProductsEmpty Styles */

.container-emptyProducts{
    margin: 114px 0px 44px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.emptyProducts-image{
    width: 30%;
}

.counter {
    width: fit-content;
    background-color: --main-color;
    margin: auto;
    padding: 1rem;
    text-align: center;
}


  .addCart-modal-button:hover{
    background-color: var(--footer) !important;
    border-radius: 0%;
    align-items: center;
  }


